body,div,p,span{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'frankfurter-plain';
    src: url(./frankfurter-plain.eot);
    src: url(./frankfurter-plain.eot?#iefix) format('embedded-opentype'),url(./frankfurter-plain.woff) format('woff'),url(./frankfurter-plain.ttf) format('truetype'),url(./frankfurter-plain.svg#frankfurter-plain) format('svg');
    font-weight: 400;
    font-style: normal
}
body{
	background: #00BFF3;
}
.container{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
.scene{
	height: 4000px;
}
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 160px;
	width: 100%;
	background: url('../images/footer.png') repeat-x;
}