.skill{
	position: fixed;
	width: 1500px;
	height: 550px;
	bottom: -330px;
	background: #00BFF3;
	z-index: 1;
	transition: bottom 0.5s;

}
.skill:before{
	position: absolute;
	content: '';
	width: 1500px;
	height: 400px;
	bottom: 0;
	background: #0072BC;
}
.skill.level2{
	bottom: 20px;
}