.welcome{
	position: fixed;
	width: 100%;
	top: 200px;
	z-index: 1;
	font-size: 40px;
	text-align: center;
	-webkit-perspective: 150px; 
	font-family: 'frankfurter-plain';
	line-height: 60px;	

	.wel-words{
		display: inline-block;
		color:white; 
		/*-webkit-transform: rotateX(40deg);*/
		text-shadow: 0 0 1px #999,    
             1px 1px 1px #888,    
             2px 2px 1px #777,    
             3px 3px 1px #777,    
             4px 4px 1px #777,    
             5px 5px 1px #777,
             6px 6px 1px #777,    
             7px 7px 1px #777,
             8px 8px 1px #777,    
             9px 9px 1px #777,
             10px 10px 1px #777,    
             11px 11px 1px #777, 
             12px 12px 1px #777,
             13px 13px 1px #777,    
             14px 14px 1px #777, 
             15px 15px 1px #777; 
	}
}